body {
    background-color: rgb(163, 94, 94);
}

th {
    text-align: center;
}

.info {
    text-align: left;
}

td {
    text-align: center;
}

#displayArea {
    margin-top: 50px;
    margin-left: 15px;
}

.complete {
    background-color: mintcream;
}